numpy
tensorflow[and-cuda]
pandas
scipy
statsmodels
scikit-learn
matplotlib
plotly
dash
ccxt
websocket-client
websockets
requests
tabulate
yfinance
ipykernel
notebook
jupyterlab
nbconvert
pandas_datareader
cvxpy
python-binance
xgboost
lightgbm
catboost
alpaca-py
polygon-api-client
ta-lib
#pandas-ta
backtrader
vectorbt
arch
seaborn
pyyaml
python-dotenv
numba
joblib
pyfolio-reloaded
empyrical
tqdm
loguru
pytest
pytest-cov
networkx