numpy
pandas
scipy
yfinance
pandas-datareader
alpha-vantage
backtrader
vectorbt
pyfolio-reloaded
empyrical
bt
ta-lib
statsmodels
scikit-learn
arch
matplotlib
seaborn
plotly
dash
pyyaml
python-dotenv
tqdm
loguru
pytz
numba
joblib
jupyter
ipykernel
notebook
pytest
pytest-cov
sqlalchemy
